        /* *** feuille de styles CSS index - projet ohmyfood *** */
    /* *** ROOT - Variable CSS *** */
:root{
    --color-button: #9356DC;                    /* Violet */
    --color-button-gradien: #FF79DA;            /* Violet clair */
    --color-fonts-new: #008766;                 /* Vert */
    --color-background-new: #99E2D0;            /* Vert clair */
    --color-bleu-marine: #003A68;               /* Bleu marine */
    --color-skyblue: #89C8FA;                   /* Bleu ciel */
    --color-background-footer: #353535;         /* Noir */
    --color-fonts-paragraph-prix: #353535;      /* Noir */
    --color-fonts-footer: #FFFFFF;              /* White */
    --color-fonts-button: #FFFFFF;              /* White */
    --color-fonts-titre-menu: #101010;          /* Noir */
    --color-fonts-texte: #000000;               /* Noir */
    --color-background-header: #EAEAEA;         /* Gris */
    --color-background-explorer: whitesmoke;    /* Gris clair */
    --color-background-card: #FFFFFF;           /* White */
    --color-background-menu:#F3F3F3;            /* Gris clair */
    --color-fil-step: #F6F6F6;                  /* White */
    --color-step-shadow:  rgba(0, 0, 0, 0.15);   /*     background: #000000; opacity: 0.1 */ 
}
    /* *** Inclusion fonts *** */
@font-face {
    font-family: logo-titres;
    src: url(../assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: texte;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
    /* *** Fonts *** */
    /* *** Header *** */
.header-logo{
    display: flex;
    justify-content: center;
}   
.header-logo>img{
    margin-top: 14px;
    margin-bottom: 5px;
}
.p1,
.p3{
    color: var(--color-fonts-new);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 12px;
}
.p2,
.p4{
    color: var(--color-background-new);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 0%;
}
    /* *** Fonts - Main *** */
.container>a{
    text-decoration: none;
}
.button-back>a{
    font-family: texte;
    color: var(--color-fonts-button);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
    /* *** Fonts - Footer *** */
.footer>h3{
    font-family: logo-titres;
    font-style: italic;
    color: var(--color-fonts-footer);
    font-size: 18px;
    font-weight: 400;
}
.footer>a{
    font-family: texte;
    text-decoration: none;
    color: var(--color-fonts-footer);
    font-size: 18px;
}
.footer>a:hover{
    color: var(--color-background-new);
}
    /* *** BOX *** */
    /* *** Body *** */
html,
body{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.container{
    margin: 0;
    background-color: whitesmoke;    
}
.main-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /* *** Header *** */
.header-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.header-logo>img{
    width: 162px;
    margin-top: 14px;
    margin-bottom: 5px;
}
.link-home{
    width: 17.2px;
    height: 16px;
}
.link-home{
    background-image: url(../assets/images/icon/Vector.png);
    background-repeat: no-repeat;
}
.p0{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}
    /* *** Main *** */
.wallpaper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wallpaper>img{
    width: 90%;
    max-height: 320px;
}
.button-back{
    background-image: linear-gradient(to bottom right, var(--color-button), var(--color-button-gradien));
    border-radius: 25px;
    padding: 13px 16px 13px 16px;
    margin-top: 60px;
    margin-bottom: 45px;
}
    /* *** Footer *** */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-background-footer);
    width: 100%;       
}
    /* *** LOADER *** */
.loader-box{
    display: flex;
    flex-direction: column;
    align-items: center;    
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* */
}
#loader{                        /* display : none; ? */
    margin-top: 120px;
    border: 4px solid #ff8300;
    border-top: 4px;
    width: 250px;
    height: 250px;
    z-index: 1;
    border-radius: 50%;
    animation: spin 3s linear infinite;
}
@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}