        /* *** feuille de styles CSS index - projet ohmyfood *** */
    /* *** ROOT - Variable CSS *** */
:root{
    --color-button: #9356DC;                    /* Violet */
    --color-button-gradien: #FF79DA;            /* Violet clair */
    --color-fonts-new: #008766;                 /* Vert */
    --color-background-new: #99E2D0;            /* Vert clair */
    --color-bleu-marine: #003A68;               /* Bleu marine */
    --color-skyblue: #89C8FA;                   /* Bleu ciel */
    --color-background-footer: #353535;         /* Noir */
    --color-fonts-paragraph-prix: #353535;      /* Noir */
    --color-fonts-footer: #FFFFFF;              /* White */
    --color-fonts-button: #FFFFFF;              /* White */
    --color-fonts-titre-menu: #101010;          /* Noir */
    --color-fonts-texte: #000000;               /* Noir */
    --color-background-header: #EAEAEA;         /* Gris */
    --color-background-explorer: whitesmoke;    /* Gris clair */
    --color-background-card: #FFFFFF;           /* White */
    --color-fil-step: #F6F6F6;                  /* White */
    --color-step-shadow:  rgba(0, 0, 0, 0.15);   /*     background: #000000; opacity: 0.1 */    
}
    /* *** Inclusion fonts *** */
@font-face {
    font-family: logo-titres;
    src: url(../assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: texte;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
    /* *** Fonts *** */
    /* *** Fonts - Main *** */
.location>input,
.explorer-text>p{
    font-family: texte;
    color: var(--color-fonts-paragraph-prix);
}
.explorer-text>h1,
.explorer-link>a,
.notice>h2,
.step-a1>p,
.step-b1>p,
.step-c1>p,
.restaurants-list>h2,
.card-restaurant>h3,
.card-restaurant>p{
    font-family: texte;
    color: var(--color-fonts-texte);
}
.explorer-link>a,
.restaurants>a{
    text-decoration: none;
}
.explorer-link>a{
    color: var(--color-fonts-button);
    font-weight: bold;
}
.explorer-text>h1,
.notice>h2,
.restaurants-list>h2{
    font-size: 24px;
}
.explorer-text>p,
.card-restaurant>h3{
    font-size: 18px;
}
.location>input,
.step-a1>p,
.step-b1>p,
.step-c1>p{
    font-weight: bold;
}
.step-a2>p,
.step-b2>p,
.step-c2>p{
    font-family: texte;
    color: var(--color-fonts-button);    
}
.card-restaurant>p{
    font-size: 17px;
}
.location>input,
.explorer-link>a,
.step-a1>p,
.step-b1>p,
.step-c1>p{
    font-size: 16px;
}
.step-a2>p,
.step-b2>p,
.step-c2>p{
    font-size: 14px;    
}
.new1>p,
.new2>p{
    font-family: texte;
    color: var(--color-fonts-new);
    font-size: 14px;
}
    /* *** Fonts - Footer *** */
.footer>h3{
    font-family: logo-titres;
    font-style: italic;
    color: var(--color-fonts-footer);
    font-size: 18px;
    font-weight: 400;
}
.footer>a{
    font-family: texte;
    text-decoration: none;
    color: var(--color-fonts-footer);
    font-size: 16px;
}
    /* *** BOX *** */
    /* *** Body *** */
body{
    margin: 0;
}
.container{
    margin: 0;
}
    /* *** Header *** */
.header-logo{
    display: flex;
    justify-content: center;
}
.header-logo>img{
    margin-top: 14px;
    margin-bottom: 5px;
}
    /* *** Main *** */
    /* *** Main - Location *** */
.location{
    width: 100%;
}
.location>input{
    width: 100%;
    height: 50px;
    background-color: var(--color-background-header);
    background-image: url(../assets/images/icon/Pin.png);
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: center;
    border: none;
    text-align: center;
}
    /* *** Main - Explorer *** */
.explorer{
    background-color: var(--color-background-explorer);
}
.explorer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explorer-text>h1{
    width: 275px; 
    height: 68px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;   
}
.explorer-text>p{
    width: 315px; 
    height: 46px;
    margin-top: 0px;
    margin-bottom: 27px;
    text-align: center;   
}
.explorer-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explorer-link>a{
    background-image: linear-gradient(to bottom right, var(--color-button), var(--color-button-gradien));
    text-align: center;
    width: 218px;
    border-radius: 25px;
    padding: 13px 18.75px 13px 18.75px;
    margin-bottom: 57px;
}
    /* *** Main - Notice *** */
.notice>h2{
    margin-top: 46px;
    margin-bottom: 26px;
    margin-left: 20px;
}
.step-a1,
.step-b1,
.step-c1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 322.49px;
    height: 72.38px;  
    background-color: var(--color-background-explorer);
    border: solid 1px var(--color-fil-step);
    border-radius: 20px;
    box-shadow: 0 4px var(--color-step-shadow);    
    text-align: center;
    margin-left: 32.51px;
    background-repeat: no-repeat;
    background-position-x: 34.49px;
    background-position-y: center;  
}
.step-a1{
    background-image: url(../assets/images/icon/mobile-screen-button.png);
}
.step-b1{
    background-image: url(../assets/images/icon/list-ul.png);
}
.step-c1{
    background-image: url(../assets/images/icon/store.png);
}
.step-a1,
.step-b1{
    margin-bottom: 24.92px;  
}
.step-c1{
    margin-bottom: 68px;
}
.step-a2,
.step-b2,
.step-c2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--color-button);
    border: none;
    border-radius: 12px;
    text-align: center;  
}
.step-a2{
    top: 512px;
    left: 23px;
}
.step-b2{
    top: 609px;
    left: 23px;
}
.step-c2{
    top: 706px;
    left: 23px;
}
    /* *** Main - Restaurants list *** */
.restaurants-list{
    width: 100%;
    background-color: var(--color-background-explorer);
    padding-top: 54px;
    box-shadow: 0 0 0 3px red;
}
.restaurants-list>h2{
    margin-top: 0px;
    margin-left: 20px;
}
.restaurants{
    width: 100%;
    padding-bottom: 48px;
    box-shadow: 0 0 0 3px red;
}
.restaurants>a{
    width: 100%;
    margin-left: 17px;
    padding-bottom: 48px;
}
.card-restaurant{
    background-color: var(--color-background-card);
    width: 100%;
    height: 251px;
    margin-bottom: 18px;
    border-radius: 15px;
    box-shadow: 0 0 0 3px red;
}
.img-restaurant>img{
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 0 3px red;
}
.card-restaurant>h3{
    margin-top: 16px;
    margin-left: 13px;
    margin-bottom: 0;
    box-shadow: 0 0 0 3px red;
}
.card-restaurant>p{
    margin-top: 5px;
    margin-left: 13px;
    margin-bottom: 12px;
    box-shadow: 0 0 0 3px red;
}
.new1,
.new2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--color-background-new);
    width: 80px;
    height: 29px;
    border-radius: 2px;
}
    /* *** Footer *** */
.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-footer);
    width: 100%;
    padding-bottom: 15px;
    padding-left: 25px;        
}
.footer>a{
    margin-bottom: 7px;
}