        /* *** feuille de styles CSS index-desktop-large - projet ohmyfood *** */
    /* *** Media Querie *** */
@media screen and (min-width: 1441px){
    body{
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    /* *** Fonts *** */
    /* *** Fonts - Main *** */
    .explorer-text>h1{
        font-size: 40px;
    }
        /* *** Header *** */
    .header-logo{
        height: 96px;
    }
    .header-logo>img{
        width: 200px;
        margin-top: 30px;
        margin-bottom: 31.8px;
    }
        /* *** Main *** */
        /* *** Main - Location *** */
    .location>input{
        width: 99.8%;
    }
        /* *** Main - Explorer *** */
    .explorer-text>h1{ 
        height: 47px;
        margin-top: 30px;
        margin-bottom: 9px;   
    }
    .explorer-text>p{
        margin-top: 9px;
        margin-bottom: 18px;   
    }
    .explorer-link>a{
        margin-bottom: 30px;        
    }
        /* *** Main - Notice *** */
    .notice>h2{
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 12.5%;
    }
    .steps{
        flex-direction: row;
    }
    .step-content{
        margin-left: 0;
        width: 22.4%;                
    }
    .step-content:first-child{
        margin-left: 13.37%;                
    }
    .step-content:nth-child(2),
    .step-content:nth-child(3){
        margin-left: 2.54%;                
    }
    .step-content:first-child,
    .step-content:nth-child(2){
        margin-bottom: 50px;  
    }
    .step-content:nth-child(3){
        margin-bottom: 50px;
    }
        /* *** Main - Restaurants list *** */
    .restaurants-list{
        width: 100%;
        padding-top: 30px;
        margin: 0;
    }
    .restaurants-list>h2{
        width: 33%;
        margin-left: 12.5%;
    }
    .restaurants{
        padding-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .restaurants-new,
    .restaurants-panel{
        width: 74.7%;
        display: flex;
        flex-direction: row;
        margin-left: 12.2%;
    }
    .restaurants-new{
        margin-bottom: 50px;
    }
    .restaurants-panel{
        margin-bottom: 0;
    }
    .restaurants-new>article:first-child,
    .restaurants-panel>article:first-child{
        margin-right: 6.94%;
    }
    .card-restaurant{
        width: 100%;
        max-width: 490px;
        margin-bottom: 0;
    }
    .card-restaurant>a{
        width: 34.03%;
    }
        /* *** Footer *** */
    .footer{
        flex-direction: row-reverse;
        align-items: center;
        padding-bottom: 0;
        padding-left: 0;        
    }
    .footer-logo{
        margin: 57px 26.42px 30px 16px;
    }
    .footer-logo>h3{
        margin: 0 0 0 0; 
    }
    .footer-links{
        flex-direction: row;
        gap: 7px;
    }
    .footer-links>a{
        width: 130px;
        margin-top: 64px;
        margin-bottom: 30px;
    }
    .footer-link-logo{
        width: 190px;
        margin-top: 64px;
        margin-bottom: 30px;
    }
}