        /* *** feuille de styles CSS index-tablette - projet ohmyfood - Loïc M pour OpenClassRoom *** */
    /* *** Media Querie *** */
:root{
    --styles_tablette_css-projet-ohmyfood-Loïc-M-pour-OpenClassRoom: #fe4164;
}
@media screen and (min-width:741px) and (max-width: 1024px){
    /* *** Animation loader - Keyframes box *** */
    #loader{
        width: 275px;
        height: 275px;
    }
    /* *** Fonts *** */
    /* *** Fonts - Main *** */
    .explorer-text>h1{
        font-size: 36px;
        font-weight: 700;
    }
        /* *** *** *** *** *** BOX *** *** *** *** *** */
        /* *** Header *** */
    .header-logo{
        height: 85px;
    }
    .header-logo>img{
        width: 200px;
        height: 34.2px;
        margin-top: 25px;
        margin-bottom: 0;
    }
        /* *** Main *** */
        /* *** Main - Explorer *** */
    .explorer-text>h1{
        width: auto;
        height: 47px;
        margin-top: 30px;
        white-space: nowrap;
    }
    .explorer-text>p{
        width: auto;
        margin-top: 18px;
        margin-bottom: 18px;
        white-space: nowrap;
    }
    .explorer-link>a{
        margin-bottom: 30px;
    }
        /* *** Main - Notice *** */
    .notice>h2{
        width: 19.1%;
        height: 31px;
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 8.5%;
    }
    .steps{
        flex-direction: row;
        align-items: center;
    }
    .step-content:first-child>p{
        margin-left: 20.5%;
    }
    .steps .step-content:first-child{
        background-position-x: 10.48%;
        white-space: pre-wrap;
    }
    .steps .step-content:nth-child(2){
        background-position-x: 10.95%;
    }
    .steps .step-content:nth-child(3){
        background-position-x: 11.73%;
    }
    .steps .step-content:first-child{
        margin-left: 3.17%;
    }
    .steps .step-content:nth-child(2),
    .steps .step-content:nth-child(3){
        margin-left: 2.54%;
    }
    .steps .step-content:first-child,
    .steps .step-content:nth-child(2),
    .steps .step-content:nth-child(3){
        margin-bottom: 50px;
    }
    .steps .step-content:nth-child(3){
        margin-right: 3.17%;
    }
        /* *** Main - Restaurants list *** */
    .restaurants-list{
        padding-top: 30px;
    }
    .restaurants-list>h2{
        margin-left: 12.5%;
    }
    .restaurants{
        padding-bottom: 30px;
        margin-left: 5.2%;
        margin-right: 5.2%;
    }
    .restaurants-new,
    .restaurants-panel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .restaurants-new{
        margin-bottom: 50px;
    }
    .card-restaurant{
        width: 45.01%;
        height: 251px;
        margin-bottom: 0;
    }
    .heart:hover{
        background-color: var(--color-background-card);
        background-image: url(../assets/images/icon/heart-purple.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        border: none;
        width: 22px;
        height: 21px;
        transition: all 900ms;
    }
   /* *** Footer *** */
   .footer{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    padding-left: 0;
    }
    .footer-logo{
        margin: 57px 6.67% 30px 16px;
    }
    .footer-logo>h3{
        margin: 0 0 0 0;
    }
    .footer-links{
        flex-direction: column;
        margin-top: 16px;
        margin-left: 6.67%;
        margin-bottom: 10px;
    }
    .footer-links>a{
        width: 130px;
    }
    .footer-link-logo{
        width: 190px;
    }
}