        /* *** feuille de styles CSS index-desktpo - projet ohmyfood *** */
        /* *** Media Querie *** */
@media screen and (min-width: 1024px) and (max-width: 1440px){
        /* *** Main - Notice *** */
        .notice>h2{
                margin-top: 50px;
                margin-bottom: 25px;
                margin-left: 12.5%;
        }
        .step{
                display: flex;
                flex-direction: row;
                width: 100%;
        }
        .step-a1,
        .step-b1,
        .step-c1{
                margin-left: 0;                
        }
        .step-a,
        .step-b,
        .step-c{
                width: 22.4%;                
        }
        .step-a{
                margin-left: 13.37%;                
        }
        .step-b,
        .step-c{
                margin-left: 2.54%;                
        }
        /* *** Main - Restaurants list *** */
        .restaurants-new,
        .restaurants-panel{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
        }
        .card-restaurant{
                width: 34.63%;
        }
        /* *** Footer *** */
        .footer{
                flex-direction: row-reverse;       
        }
        .footer-links{
                flex-direction: row;
        }
}
























