        /*feuille de styles CSS view - projet ohmyfood*/
    /*ROOT - Variable SS*/
:root{
    --color-button: #9356DC;                /* Violet */
    --color-button-gradien: #FF79DA;        /* Violet clair */
    --color-fonts-new: #008766;             /* Vert */
    --color-clear-new: #99E2D0;             /* Vert clair */
    --color-bleu-marine: #003A68;           /* Bleu marine */
    --color-skyblue: #89C8FA;               /* Bleu ciel */
    --color-background-footer: #353535;     /* Noir */
    --color-fonts-paragraph-prix: #353535;  /* Noir */
    --color-fonts-footer: #FFFFFF;          /* White */
    --color-fonts-button: #FFFFFF;          /* White */
    --color-fonts-titre-menu: #101010;      /* Noir */
    --color-fonts-texte: #000000;           /* Noir */
}
    /*Inclusion fonts*/
@font-face {
    font-family: logo-titres;
    src: url(../assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: texte;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
    /* *** Fonts *** */
    /* *** Fonts - Main *** */
.menu>h1{
    font-family: logo-titres;
    font-style: italic;
    color: var(--color-fonts-titre-menu);
    font-size: 28px;
    font-weight: 400;    
}
.menu>p,
.card-menu>h2,
.card-menu>div>p{
    font-family: texte;
}
.menu>div>h2{
    font-size: 18px;
    font-weight: 500;   
}
.menu>p{
    font-size: 16px;
    font-weight: 300;
}
.card-menu>div>p{
    font-size: 15px;
    font-weight: 300;
}
.card-menu>div>p:last-of-type{
    font-weight: bold;
}
.button-command{    
    font-family: texte;
    color: var(--color-fonts-button);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
    /* *** Fonts - Footer *** */
.footer>h3{
    font-family: logo-titres;
    font-style: italic;
    color: var(--color-fonts-footer);
    font-size: 18px;
    font-weight: 400;
}
.footer>a{
    font-family: texte;
    text-decoration: none;
    color: var(--color-fonts-footer);
    font-size: 16px;
}
.footer>a:hover{
    color: var(--color-button);
}
.footer>a:hover:last-of-type{
    color: var(--color-skyblue);
}
    /* *** Header *** */
.header-logo{
    display: flex;
    justify-content: space-around;
}   
.header-logo{
    background-image: url(../assets/images/icon/Vector.png);
    background-repeat: no-repeat;
    background-position: left;
}
    /* *** BOX *** */
    /* *** Body *** */
.body{

}
.container{
/* !!! */
}
    /* *** Header *** */
.header-logo{
    border: 1px solid orange; /* !!! */
}
    /* *** Main *** */
.wallpaper{
    border: 1px solid royalblue; /* !!! */
}
.wallpaper>img{
    height: 275px; /* !!! */
    object-fit: cover; /* !!! */      
}
.menu{
    border: 1px solid green; /* !!! */
}
.card-menu{
    border: 1px solid red; /* !!! */
    border-radius: 15px;
    margin-left: 13px;
    margin-right: 13px;
}
.card-menu>div{
    display: flex;
    justify-content: space-between;
}
.button-command{
    background-image: linear-gradient(to bottom right, var(--color-button), var(--color-button-gradien));
    width: 186px;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 13px 16px 13px 16px;    
}
    /* *** Footer *** */
.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-footer);
    width: 100%;
    padding-bottom: 15px;
    padding-left: 25px      
}
.footer>a{
    margin-bottom: 7px;
}