        /*feuille de styles CSS view - projet ohmyfood*/
    /*ROOT - Variable SS*/
:root{
    --color-button: #9356DC;                /* Violet */
    --color-button-gradien: #FF79DA;        /* Violet clair */
    --color-fonts-new: #008766;             /* Vert */
    --color-clear-new: #99E2D0;             /* Vert clair */
    --color-bleu-marine: #003A68;           /* Bleu marine */
    --color-skyblue: #89C8FA;               /* Bleu ciel */
    --color-background-footer: #353535;     /* Noir */
    --color-fonts-paragraph-prix: #353535;  /* Noir */
    --color-fonts-footer: #FFFFFF;          /* White */
    --color-fonts-button: #FFFFFF;          /* White */
    --color-fonts-titre-menu: #101010;      /* Noir */
    --color-fonts-texte: #000000;           /* Noir */
}
    /*Inclusion fonts*/
@font-face {
    font-family: logo-titres;
    src: url(/assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: texte;
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}
    /* *** Fonts *** */
    /* *** Fonts - Main *** */
.menu>h1{
    font-family: logo-titres;
    font-style: italic;
    color: var(--color-fonts-titre-menu);
    font-size: 28px;
    font-weight: 400;    
}
.menu>p,
.menu>div>h2,
.menu>div>span>p{
    font-family: texte;
}
.menu>div>h2{
    font-size: 18px;
    font-weight: 500;   
}
.menu>p{
    font-size: 16px;
    font-weight: 300;
}
.menu>div>span>p{
    font-size: 15px;
    font-weight: 300;
}
.menu>div>span>p:last-of-type{
    font-weight: bold;
}
    /* *** Fonts - Footer *** */
.footer>h3{
    font-family: logo-titres;
    font-style: italic;
    color: var(--color-fonts-footer);
    font-size: 18px;
    font-weight: 400;
}
.footer>a{
    font-family: texte;
    text-decoration: none;
    color: var(--color-fonts-footer);
    font-size: 16px;
}
    /* *** Header *** */
.header-logo{
    display: flex;
    justify-content: space-around;
}   
.header-logo{
    background-image: url(../assets/images/icon/Vector.png);
    background-repeat: no-repeat;
    background-position: left;
}
    /* *** BOX *** */
    /* *** Body *** */
.body{

}
.container{
    max-width: 735px;
}
    /* *** Header *** */
    /* *** Main *** */
.wallpaper{

}
.wallpaper>img{
    width: 375px;        
}
.menu{

}
.menu>div>span{
    display: flex;
    justify-content: space-between;
}
.button-command{

}
    /* *** Footer *** */
.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-footer);        
}
.footer>a{
    margin-bottom: 7px;
}